/setupscheduler/*.json
/setupscheduler/*.o
/setupscheduler/setupscheduler
/setupscheduler/CMakeCache.txt
/setupscheduler/CMakeFiles
/setupscheduler/Makefile

/scheduler-web/.output
/scheduler-web/.data
/scheduler-web/.nuxt
/scheduler-web/.nitro
/scheduler-web/.cache
/scheduler-web/dist
/scheduler-web/node_modules
/scheduler-web/logs
/scheduler-web/*.log
/scheduler-web/.DS_Store
/scheduler-web/.fleet
/scheduler-web/.idea
/scheduler-web/.env
/scheduler-web/.env.*
/scheduler-web/!.env.example
/scheduler-web/data/*.json
